body {
    color: rgb(251, 251, 251);
    display: grid;
    grid-template-areas:
        "menu"
        "main"
        "footer";
    grid-template-columns: auto;
    font-family: Poppins, sans-serif;
}

ul {
    margin: 0;
    padding: 10px;
}
/*Areas del navegador completo*/
nav{
    grid-area: nav;
    background-color: #FF0087;
    padding:30px;
    display: flex;
    align-items: center;
    justify-content: end;
}
#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
    grid-area: menu;
    padding: 10px;
    background: rgb(254, 207, 115);
}
/*Areas internas de main*/
main {
    display: grid;
    grid-template-columns: 1fr;
    height: 400px;
    background-image: url(../img/prism-3a.jpg);
    background-size: contain;
    background-repeat: repeat;
    grid-area: main;
    gap: 10px;
    overflow: scroll;
    overflow-x: hidden; 
    background-position: center top;
}

.nav_btn {
    padding-right: 15px;
    background-color: transparent;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 30px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.navbar {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    left: 0px;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out 0s;
}
.mujer-slider {
    width: 200px;
    height: auto;
    display: block;
    z-index: 6;
    position: relative;
    margin: 0px auto;
}
.naranja-slider {
    width: 250px;
    height: auto;
    display: block;
    top: 0px;
    z-index: 6;
    position: absolute;
    margin: 0px auto;
}
.pagination {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 200px;
    backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 30px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 10px;
}
.pagination a {
    color: rgb(255, 255, 255);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease 0s;
    
}
.pagination a.active {
    background-color: rgb(254, 207, 115);
    color: white;
}
.glassBox, .glassBox * {
    transition: all 400ms ease 0s;
}
.glassBox {
    width: 100%;
    max-width: 300px;
    background-color: rgba(255, 254, 254, 0.72);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.glassBox__imgBox img {
    display: block;
    width: 100%;
    height: auto;
}
.glassBox:hover .glassBox__imgBox {
    transform: translateY(-10px);
  }
  .glassBox:hover .glassBox__imgBox img {
    transform: translate(-10px, -10px) rotate(-5deg) scale(1.1);
  }
.caja {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Fin Areas internas de main*/
footer {
    background-color: rgb(255, 144, 148);
    text-align: center;
    color: rgb(255, 255, 255);
    grid-area: footer;
    padding: 15px;
}
.bottom-slider {
    position: absolute;
    bottom: -79px;
    left: 0px;
    width: 100%;
    z-index: 3;
}
#slider {
    position: relative;
    padding-bottom: 100px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    background: url(../img/bg.jpeg) 0% 0% / cover no-repeat;
}
#productos {
    z-index: 1;
    padding-top: 100px;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
/*Fin Areas del navegador completo*/



/*Clases en general*/
label{
    padding-right: 5px;
}
 .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    h1 {
        color: rgb(255, 144, 148);
        font-size: 2.5em;
        text-align: center;
    }
    h4 {
        color: rgb(255, 144, 148);
        padding: 10px 5px;
        margin: 0px;
    }
    p {
        background-color: rgb(255, 255, 255);
        color: rgb(255, 144, 148);
        margin: 0px;
        padding: 10px 25px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(255, 144, 148);
        border-image: initial;
        border-radius: 30px;
    }
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    padding-bottom: 20px;
}
.glassBox__imgBox img {
    display: block;
    width: 100%;
    height: auto;
}
.menu-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.img-slider {
    width: 100px;
    height: auto;
}
.menu-mobile img{
    width: 80px;
    height: auto;
}
.menu-desktop{
    display: none;
}

.menu-desktop img{
    width: 120px;
    height: auto;
}
.elemento-slide1 {
    position: absolute;
    top: 0px;
    left: 5%;
}
.elemento-slide2 {
    position: absolute;
    bottom: 40px;
    right: 5%;
    z-index: 9;
}
.caja-tit {
    width: 400px;
    height: 124px;
    background-image: url(../img/caja-tit.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
}
.elemento-slider {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rotar {
    animation: 9s linear 0s infinite normal none running rotar;
}
#menu ul li{
    list-style: none;
}


 
 main::-webkit-scrollbar {
    width: 8px;
  }
  main::-webkit-scrollbar-thumb {
    background-color: rgb(255, 144, 148);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 144, 148);
    border-image: initial;
    border-radius: 5px;
}

  .icons{
    display: flex;
    justify-content: center;
  }
  .icons i{
    padding: 20px;
    font-size: 30px;
  }
  
  #pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

  @media  (min-width:576px) and (max-width:990px) {
    #menu {
        justify-content: flex-start;
        flex-direction: column;
    }
    body {
        grid-template-areas:
            "menu main"
            "footer footer";
        grid-template-columns: 190px auto;
    }
    main {
        height: calc(100vh - 116px);
    }
    .navbar {
        position: initial;
        background-color: transparent;
        transform: translateX(0%);
    }
    #menu ul li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
  }

  @media only screen and (min-width: 991px){
    body {
        grid-template-areas:
            "menu main"
            "footer main";
        grid-template-columns: 190px auto;
    }
    main {
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #menu {
        height: calc(100vh - 157px);
        justify-content: flex-start;
        flex-direction: column;
    }
    #productos {
        grid-template-columns: repeat(3, 1fr);
    }
    .menu-mobile img {
        width: 140px;
    }
    .navbar {
        position: initial;
        background-color: transparent;
        transform: translateX(0%);
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    button.nav_btn {
        display: none;
    }
    #menu ul li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .img-slider {
        width: 200px;
    }
    .mujer-slider {
        width: 500px;
    }
    
    .bottom-slider {
        bottom: -101px;
    }

  }
  @media  (min-width:1080px){
    h1 {
        font-size: 6em;
        color: rgb(251, 251, 251);
        text-align: left;
    }
    #slider {
        grid-template-columns: 400px auto;
    }
    #slider {
        height: 100vh;
        grid-template-columns: 400px auto;
    }
    .naranja-slider {
        width: 600px;
    }
    .caja-tit {
        background-image: none;
        width: 100%;
        height: 400px;
    }
    
  }
 
  


/*Animaciones*/
.rotar {
	animation: rotar 9s linear infinite;
}

@keyframes rotar {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
